
$bg-img: url(https://images.unsplash.com/photo-1561350111-7daa4f284bc6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
$colorPrincipal: rgb(0, 92, 92);
$colorHeader: rgb(102, 0, 102);
$colorSection: rgb(221, 151, 0);

$fontPrincipal: sans-serif;

$bordeNegro: 2px solid black;

$mobile: 576px;
$tablet: 768px;
$Desktop: 978px;