header {
    nav{
        background-color: #303030;
        border-bottom: 2px solid white;
    }
}

body {
    background-image: url(https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: 100vw;
    background-color: #f6edce;
}

main {
    background-color: #303030;
    opacity: .9;
    color: white;

    div {
        opacity: 1;
    }
}



/* responsive con variables */
$mobile: 576px;
$tablet: 768px;
$desktop: 978px;


    @media (max-width: $mobile) {
        .formulario {
            padding: 0px;
            margin: 0px;
            background-color: white;
            width: 100%;
            display: flex;
            justify-content: center;
        }
            form {
            background-color: red;
            width: 90%;
            padding: 5%;
            margin: 80%;
            color: blue;
            margin: 0px;
        }
    }



    @media (min-width: $mobile) and (max-width: $desktop) {
        .formulario {
            padding: 1%;
            margin: 0px;
            background-color: white;
            width: 100%;
            display: flex;
            justify-content: center;
        }
        form { 
            background-color: yellow;
            width: 80%;
            padding: 5%;
            margin: 90%;
            color: blue;
            margin: 0px;
        }
    }



    @media (min-width: $desktop ) {
        .formulario {
            padding: 1%;
            margin: 0px;
            background-color: white;
            width: 100%;
            display: flex;
            justify-content: center;
        form { 
            background-color: cyan;
            width: 70%;
            padding: 5%;
            margin: 90%;
            color: blue;
            margin: 0px;
        }
    }
}


/* extend */
/* container bg-light w-25 p-1 d-flex */

.ContenedorImg {
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    width: 1fr;
    border: 2px solid black;
    border-radius: 20px;
}

.ContenedorImg--verde {
    @extend .ContenedorImg;
    background-color: green;
    color: white;

}

.ContenedorImg--rojo {
    @extend .ContenedorImg;
    background-color: red;
    color: white;

}
.ContenedorImg--amarillo {
    @extend .ContenedorImg;
    background-color: yellow;
    color: white;

}
.ContenedorImg--azul {
    @extend .ContenedorImg;
    background-color: blue;
    color: white;

}
.ContenedorImg--magenta {
    @extend .ContenedorImg;
    background-color: magenta;
    color: white;

}
.ContenedorImg--cyan {
    @extend .ContenedorImg;
    background-color: cyan;
    color: white;

}

/* mixin */

@mixin ContenedorTexto {
    display: inline-block;
    padding: 10px;
    width: 30%;
    border: 1px solid black;
    
}

.ContenedorTexto--rojo {
    @include ContenedorTexto;
    background-color: red;
    color: cyan;
    font-style: italic;
}

.ContenedorTexto--azul {
    @include ContenedorTexto;
    background-color: cyan;
    color: green;
    font-weight: 600;
}

.ContenedorTexto--verde {
    @include ContenedorTexto;
    background-color: lime;
    color: red;
    font-size: 20px;
}


div :hover{
    color: orange;
    background-color: chocolate;
}

