header nav {
  background-color: #303030;
  border-bottom: 2px solid white;
}

body {
  background-image: url(https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 100vw;
  background-color: #f6edce;
}

main {
  background-color: #303030;
  opacity: .9;
  color: white;
}

main div {
  opacity: 1;
}

/* responsive con variables */
@media (max-width: 576px) {
  .formulario {
    padding: 0px;
    margin: 0px;
    background-color: white;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form {
    background-color: red;
    width: 90%;
    padding: 5%;
    margin: 80%;
    color: blue;
    margin: 0px;
  }
}

@media (min-width: 576px) and (max-width: 978px) {
  .formulario {
    padding: 1%;
    margin: 0px;
    background-color: white;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form {
    background-color: yellow;
    width: 80%;
    padding: 5%;
    margin: 90%;
    color: blue;
    margin: 0px;
  }
}

@media (min-width: 978px) {
  .formulario {
    padding: 1%;
    margin: 0px;
    background-color: white;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .formulario form {
    background-color: cyan;
    width: 70%;
    padding: 5%;
    margin: 90%;
    color: blue;
    margin: 0px;
  }
}

/* extend */
/* container bg-light w-25 p-1 d-flex */
.ContenedorImg, .ContenedorImg--verde, .ContenedorImg--rojo, .ContenedorImg--amarillo, .ContenedorImg--azul, .ContenedorImg--magenta, .ContenedorImg--cyan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 10px;
  width: 1fr;
  border: 2px solid black;
  border-radius: 20px;
}

.ContenedorImg--verde {
  background-color: green;
  color: white;
}

.ContenedorImg--rojo {
  background-color: red;
  color: white;
}

.ContenedorImg--amarillo {
  background-color: yellow;
  color: white;
}

.ContenedorImg--azul {
  background-color: blue;
  color: white;
}

.ContenedorImg--magenta {
  background-color: magenta;
  color: white;
}

.ContenedorImg--cyan {
  background-color: cyan;
  color: white;
}

/* mixin */
.ContenedorTexto--rojo {
  display: inline-block;
  padding: 10px;
  width: 30%;
  border: 1px solid black;
  background-color: red;
  color: cyan;
  font-style: italic;
}

.ContenedorTexto--azul {
  display: inline-block;
  padding: 10px;
  width: 30%;
  border: 1px solid black;
  background-color: cyan;
  color: green;
  font-weight: 600;
}

.ContenedorTexto--verde {
  display: inline-block;
  padding: 10px;
  width: 30%;
  border: 1px solid black;
  background-color: lime;
  color: red;
  font-size: 20px;
}

div :hover {
  color: orange;
  background-color: chocolate;
}
/*# sourceMappingURL=style.css.map */