* {
  margin: 0px;
  padding: 0px;
}

header nav {
  background-color: #303030;
  border-bottom: 2px solid white;
}

footer {
  background-color: #303030;
  border-top: 2px solid white;
}

footer img:hover {
  background-color: #60bbc5;
  border-radius: 12px;
}

body {
  background-image: url(https://images.pexels.com/photos/905847/pexels-photo-905847.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-size: 100vw;
  background-color: #f6edce;
}

main {
  background-color: #303030;
  opacity: .9;
  color: white;
  width: 100vw;
}

main div {
  opacity: 1;
}

main h1 {
  font-family: 'Fjalla One', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: chocolate;
}

/* extend */
/* container bg-light w-25 p-1 d-flex */
.ContenedorImagen, .ContenedorImagen--negro, .ContenedorImagen--promo, .ContenedorImagen--azul, .ContenedorImagen--magenta, .ContenedorImagen--cyan {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 5px;
  height: 100%;
  padding: 10px;
}

.ContenedorImagen--negro {
  background-color: #303030;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid white;
  border-radius: 20px;
}

.ContenedorImagen--negro img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

/* seccion clases promo */
.ContenedorImagen--promo {
  background-color: blue;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid;
  border-radius: 20px;
}

.ContenedorImagen--promo img {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

/* final seccion clases promo */
/* seccion clases ingredientes */
.ContenedorIngredientes {
  margin: 5px;
  height: 100%;
  padding: 0px;
  background-color: #303030;
  width: 35%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ContenedorIngredientes div {
  height: 50%;
  padding: 0px;
}

.ContenedorIngredientes div img {
  width: 100%;
  padding: 0px;
  margin: 0px;
  border: white solid 2px;
}

/* final de seccion clases ingredientes */
.ContenedorImagen--azul {
  background-color: blue;
  color: white;
}

.ContenedorImagen--magenta {
  background-color: magenta;
  color: white;
}

.ContenedorImagen--cyan {
  background-color: cyan;
  color: white;
}

/* mixin */
.ContenedorTexto--negro {
  font-family: 'Fjalla One', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #303030;
  color: white;
  padding: 20px;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid white;
  border-radius: 20px;
}

.ContenedorTexto--promo {
  font-family: 'Fjalla One', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  height: 100%;
  /* background-color: magenta; */
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  padding: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ContenedorTexto--promo h5 {
  border: 2px solid white;
  border-radius: 20px 40px;
  padding: 20px 20px 70px 20px;
  margin-bottom: 0px;
  color: white;
  background-color: #9f443a;
}

.ContenedorTexto--promo img {
  border: white solid 2px;
  border-radius: 20px 40px;
  width: 60%;
  margin: 0px;
}

.ContenedorTexto--ingredientes {
  font-family: 'Fjalla One', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  padding: 30px;
  display: flex;
}

.ContenedorTexto--ingredientes h5 {
  background-color: #9f443a;
  border: 2px solid white;
  border-radius: 20px 40px;
  padding: 20px 20px 70px 20px;
  margin-bottom: 0px;
  color: white;
}

.ContenedorTexto--ingredientes img {
  border-radius: 20px 40px;
  height: 100%;
  margin: 0px;
}

.ContenedorTexto--negro:hover {
  background-color: #454545;
  opacity: .9;
}

.ContenedorTexto--negro:hover a {
  color: chocolate;
  cursor: pointer;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px;
  margin: 0px;
}

.banner img {
  opacity: .9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 70%;
  height: auto;
  border: white solid 2px;
  border-radius: 20px;
}

.formulario {
  font-family: 'Fjalla One', sans-serif;
}

.icono {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

/* responsive con variables */
/* mobile */
@media (max-width: 576px) {
  footer .icono {
    height: 100%;
  }
  .formulario {
    padding: 0px;
    margin: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form {
    background-color: #9f443a;
    width: 90%;
    padding: 5%;
    margin: 80%;
    color: blue;
    margin: 0px;
  }
  .nav-link {
    background-color: limegreen;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .navbar .container div ul {
    background-color: salmon;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .ContenedorImagen, .ContenedorImagen--negro, .ContenedorImagen--promo, .ContenedorImagen--azul, .ContenedorImagen--magenta, .ContenedorImagen--cyan {
    padding: 5px;
  }
  .ContenedorImagen .ContenedorTexto--negro, .ContenedorImagen--negro .ContenedorTexto--negro, .ContenedorImagen--promo .ContenedorTexto--negro, .ContenedorImagen--azul .ContenedorTexto--negro, .ContenedorImagen--magenta .ContenedorTexto--negro, .ContenedorImagen--cyan .ContenedorTexto--negro {
    margin: 0px;
    width: 100%;
  }
  .ContenedorImagen .ContenedorTexto--negro div, .ContenedorImagen--negro .ContenedorTexto--negro div, .ContenedorImagen--promo .ContenedorTexto--negro div, .ContenedorImagen--azul .ContenedorTexto--negro div, .ContenedorImagen--magenta .ContenedorTexto--negro div, .ContenedorImagen--cyan .ContenedorTexto--negro div {
    margin: 0px;
    width: auto;
    height: auto;
  }
  .ContenedorImagen .ContenedorTexto--negro div img, .ContenedorImagen--negro .ContenedorTexto--negro div img, .ContenedorImagen--promo .ContenedorTexto--negro div img, .ContenedorImagen--azul .ContenedorTexto--negro div img, .ContenedorImagen--magenta .ContenedorTexto--negro div img, .ContenedorImagen--cyan .ContenedorTexto--negro div img {
    padding: 2px 20px 2px 2px;
    margin: 0px;
    width: 60%;
    height: auto;
  }
  .ContenedorImagen .ContenedorIngredientes, .ContenedorImagen--negro .ContenedorIngredientes, .ContenedorImagen--promo .ContenedorIngredientes, .ContenedorImagen--azul .ContenedorIngredientes, .ContenedorImagen--magenta .ContenedorIngredientes, .ContenedorImagen--cyan .ContenedorIngredientes {
    margin: 0px;
    height: 100%;
    padding: 0px;
    width: 100%;
  }
  .ImgMenu {
    width: 100%;
    padding-bottom: 10px;
  }
}

/* tablet */
@media (min-width: 576px) and (max-width: 978px) {
  .formulario {
    padding: 1%;
    margin: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  form {
    background-color: #9f443a;
    width: 80%;
    padding: 5%;
    margin: 90%;
    color: blue;
    margin: 0px;
  }
  .nav-link {
    background-color: magenta;
  }
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .container div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .navbar .container div ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .ContenedorImagen, .ContenedorImagen--negro, .ContenedorImagen--promo, .ContenedorImagen--azul, .ContenedorImagen--magenta, .ContenedorImagen--cyan {
    padding: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ContenedorImagen .ContenedorIngredientes, .ContenedorImagen--negro .ContenedorIngredientes, .ContenedorImagen--promo .ContenedorIngredientes, .ContenedorImagen--azul .ContenedorIngredientes, .ContenedorImagen--magenta .ContenedorIngredientes, .ContenedorImagen--cyan .ContenedorIngredientes {
    margin: 0px;
    height: 100%;
    padding: 30px;
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .ImgMenu {
    width: 60%;
    padding-bottom: 15px;
  }
}

@media (min-width: 978px) {
  .formulario {
    padding: 1%;
    margin: 0px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .formulario form {
    background-color: #9f443a;
    width: 70%;
    padding: 5%;
    margin: 90%;
    color: blue;
    margin: 0px;
  }
  .formulario .nav-link {
    background-color: green;
  }
  .ContenedorImagen, .ContenedorImagen--negro, .ContenedorImagen--promo, .ContenedorImagen--azul, .ContenedorImagen--magenta, .ContenedorImagen--cyan {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .ContenedorImagen .ContenedorTexto--negro, .ContenedorImagen--negro .ContenedorTexto--negro, .ContenedorImagen--promo .ContenedorTexto--negro, .ContenedorImagen--azul .ContenedorTexto--negro, .ContenedorImagen--magenta .ContenedorTexto--negro, .ContenedorImagen--cyan .ContenedorTexto--negro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50vw;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .ImgMenu {
    width: 60%;
    padding-bottom: 20px;
  }
}

/* final responsive */
/*# sourceMappingURL=style.css.map */